<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>authentificationServlet</servlet-name>
        <servlet-class>authentificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAuthentification</servlet-name>
        <servlet-class>servlets.servletAuthentification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEnregistrer</servlet-name>
        <servlet-class>servlets.servletEnregistrer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPanel</servlet-name>
        <servlet-class>servlets.servletPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletGetCategorie</servlet-name>
        <servlet-class>servlets.servletGetCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCreateMenu</servlet-name>
        <servlet-class>servlets.servletCreateMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCreateRestaurant</servlet-name>
        <servlet-class>servlets.servletCreateRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCreateAnnonce</servlet-name>
        <servlet-class>servlets.servletCreateAnnonce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletGetMenu</servlet-name>
        <servlet-class>servlets.servletGetMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletGetRestaurant</servlet-name>
        <servlet-class>servlets.servletGetRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCreateReservation</servlet-name>
        <servlet-class>servlets.servletCreateReservation</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>servletRefreshReservation</servlet-name>
        <servlet-class>servlets.servletRefreshReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authentificationServlet</servlet-name>
        <url-pattern>/authentificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAuthentification</servlet-name>
        <url-pattern>/servletAuthentification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEnregistrer</servlet-name>
        <url-pattern>/servletEnregistrer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPanel</servlet-name>
        <url-pattern>/servletPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletGetCategorie</servlet-name>
        <url-pattern>/servletGetCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCreateMenu</servlet-name>
        <url-pattern>/servletCreateMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCreateRestaurant</servlet-name>
        <url-pattern>/servletCreateRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCreateAnnonce</servlet-name>
        <url-pattern>/servletCreateAnnonce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletGetMenu</servlet-name>
        <url-pattern>/servletGetMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletGetRestaurant</servlet-name>
        <url-pattern>/servletGetRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCreateReservation</servlet-name>
        <url-pattern>/servletCreateReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletRefreshReservation</servlet-name>
        <url-pattern>/servletRefreshReservation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
    </welcome-file-list>
</web-app>
