<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>authentificationServlet</servlet-name>
        <servlet-class>authentificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletAuthentification</servlet-name>
        <servlet-class>servlets.servletAuthentification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletEnregistrer</servlet-name>
        <servlet-class>servlets.servletEnregistrer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authentificationServlet</servlet-name>
        <url-pattern>/authentificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletAuthentification</servlet-name>
        <url-pattern>/servletAuthentification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletEnregistrer</servlet-name>
        <url-pattern>/servletEnregistrer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
    </welcome-file-list>
</web-app>
